extends layout

block content
  h1 Aloha Alluring Alumni!
  div(ng-show='user', ng-cloak, ng-init="hideForm = false")
    button.btn.btn-warning(ng-click="logout()") Logout
    div(ng-show='hideForm == false')
      h2 {{me.username}}
      p.text-error(ng-show="!myIndex", ng-cloak) You're not an alumni!! (Or at least your not registered in database)
      form.details(ng-submit="saveInfo()", ng-show="myIndex")
        | Blog: 
        input.detail(type="text",ng-model="me.blog", placeholder="Blog URL" )br
        br
        | Company:
        input.detail(type="text",ng-model="me.company", placeholder='Company')br
        br
        |Website:
        input.detail(type="text",ng-model="me.website" , placeholder='www.example.com')br
        br
        | Job Title:
        input.detail(type="text",ng-model="me.jobtitle", placeholder='Assistant to the Regional Manager')br
        br
        | Linked In:
        input.detail(type="text",ng-model="me.linkedin", placeholder='LinkedIn URL')br
        br
        | Twitter:
        input.detail(type="text",ng-model="me.twitter", placeholder='@handle')br
        br
        | Quora:
        input.detail(type="text",ng-model="me.quora", placeholder='www.quora.com/username')br
        br
        | Bio:
        textarea.detail(ng-model="me.bio") Who are you, really?
        br
        br
        br
        input.btn-primary(type="submit", ng-click='hideForm = true')
  div(ng-hide='user')
    h3 Please login to edit your information
    button.btn.btn-primary(ng-click='login()') Github Login

  hr.divider

  .alumnus(ng-click="$event.preventDefault()", ng-cloak)
    .search Search:
      input.searchBox(type="text", ng-model="searchText")
    div(ng-repeat="alumnus in alumni | alumnusfilter:searchText")
      h3
        a(href='#', ng-click="showDetails = !showDetails") {{alumnus.firstname}}  {{alumnus.lastname }}
      .details(ng-hide="!showDetails", ng-disabled="5==5")
        p.detail Blog: {{alumnus.blog}}
        br
        p.detail Cohort: {{alumnus.cohort}}
        br
        p.detail Company: {{alumnus.company}}
        br
        p.detail Website: {{alumnus.website}}
        br
        p.detail Job Title: {{alumnus.jobtitle}}
        br
        p.detail Linked In: {{alumnus.linkedin}}
        br
        p.detail Twitter: {{alumnus.twitter}}
        br
        p.detail Quora: {{alumnus.quora}}
        br
        p.detail Bio: {{alumnus.bio}}


  
