extends layout

block content
  h1 Aloha Alluring Alumni!
  div(ng-controller="DirectoryController", ng-click="$event.preventDefault()", ng-cloak)
    div(ng-repeat="alumnus in alumni")
      h3
        a(href='#', ng-click="showDetails = !showDetails") {{alumnus.firstname}}  {{alumnus.lastname }}
      form.details(ng-hide="!showDetails")
        | Blog: 
        input.detail(type="text",ng-model="alumnus.blog", placeholder="{{alumnus.blog}}")br
        br
        | Cohort:
        input.detail(type="text",ng-model="alumnus.cohort", placeholder="{{alumnus.cohort}}")br
        br
        | Company:
        input.detail(type="text",ng-model="alumnus.company", placeholder="{{alumnus.company}}")br
        br
        |Website:
        input.detail(type="text",ng-model="alumnus.website", placeholder="{{alumnus.website}}")br

   