extends layout

block content
  h1 Aloha Alluring Alumni!
  h3 Please login to edit your information
  div(ng-show='user && hideForm == false', ng-cloak, ng-init="hideForm = false")
    button.btn.btn-warning(ng-click="logout()") Logout
    h2 {{user.username}}
    p.text-error(ng-show="!myIndex", ng-cloak) You're not an alumni!! (Or at least your not registered in database)
    form.details(ng-submit="saveInfo()", ng-show="myIndex")
      | Blog: 
      input.detail(type="text",ng-model="me.blog", placeholder="{{me.blog}}")br
      br
      | Cohort:
      input.detail(type="text",ng-model="me.cohort", placeholder="{{me.cohort}}")br
      br
      | Company:
      input.detail(type="text",ng-model="me.company", placeholder="{{me.company}}")br
      br
      |Website:
      input.detail(type="text",ng-model="me.website", placeholder="{{me.website}}")br
      br
      | Job Title:
      input.detail(type="text",ng-model="me.jobtitle", placeholder="{{me.jobtitle}}")br
      br
      | Linked In:
      input.detail(type="text",ng-model="me.linkedin", placeholder="{{me.linkedin}}")br
      br
      | Twitter:
      input.detail(type="text",ng-model="me.twitter", placeholder="{{me.twitter}}")br
      br
      | Quora:
      input.detail(type="text",ng-model="me.quora", placeholder="{{me.quora}}")br
      br
      input.btn-primary(type="submit", ng-click='hideForm = true')
  span(ng-hide='user')
    button.btn.btn-primary(ng-click='login()') Github Login

  hr.divider

  .alumnus(ng-click="$event.preventDefault()", ng-cloak)
    .search Search:
      input.searchBox(type="text", ng-model="searchText")
    div(ng-repeat="alumnus in alumni | alumnusfilter:searchText")
      h3
        a(href='#', ng-click="showDetails = !showDetails") {{alumnus.firstname}}  {{alumnus.lastname }}
      .details(ng-hide="!showDetails", ng-disabled="5==5")
        p.detail Blog: {{alumnus.blog}}
        br
        p.detail Cohort: {{alumnus.cohort}}
        br
        p.detail Company: {{alumnus.company}}
        br
        p.detail Website: {{alumnus.website}}
        br
        p.detail Job Title: {{alumnus.jobtitle}}
        br
        p.detail Linked In: {{alumnus.linkedin}}
        br
        p.detail Twitter: {{alumnus.twitter}}
        br
        p.detail Quora: {{alumnus.quora}}
        br


  
