extends layout

block content
  h1 Aloha Alluring Alumni!
  div(ng-controller="DirectoryController", ng-click="$event.preventDefault()", ng-cloak)
    div(ng-repeat="alumnus in alumni")
      h3
        a(href='#', ng-click="showDetails = !showDetails") {{alumnus.firstname}}  {{alumnus.lastname }}
      .alumnusDetails(ng-show="showDetails")
        div blog: {{alumnus.blog }}
        div {{alumnus.cohort}}
        div {{alumnus.company}}
        div {{alumnus.photo}}
        div {{alumnus.website}}
   